{% extends "pm/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Project Detail - {{ project.name }}{% endblock title %}

{% block content-header %}<b>{{ project.name }}</b> ({{ project.program.name }}){% endblock content-header %}

{% block section_id %}project-detail{% endblock section_id %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Description</h3>
            </div>
            <div class="box-body">{{ project.description | linebreaksbr }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box details">
            <div class="box-header">
                <i class="fa fa-list-ul"></i>
                <h3 class="box-title">Project Details</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn btn-default btn-sm edit-project"><i class="fa fa-pencil"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                    <tr>
                        <td>ID:</td>
                        <td>{{ project.id | stringformat:"04d" }}</td>
                    </tr>
                    <tr>
                        <td>Requester:</td>
                        <td>{{ project.requester.full_name }}</td>
                    </tr>
                    <tr>
                        <td>Proj. Manager:</td>
                        <td>{{ project.project_manager.full_name }}</td>
                    </tr>
                    <tr>
                        <td>Assigned to:</td>
                        <td>{% for worker in project.worker_set.all %}<span class="{% if worker.owner %}bold{% endif %} {% if not worker.person.group.internal %}text-muted{% endif %}">{{ worker.person.full_name }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Start Date:</td>
                        <td>{{ project.start_date }}</td>
                    </tr>
                    <tr>
                        <td>Due Date:</td>
                        <td>{{ project.due_date }}</td>
                    </tr>
                    {% if project.sharepoint_ticket %}
                    <tr>
                        <td>URL:</td>
                        <td><a href="{{ project.sharepoint_ticket }}" target="_blank">Sharepoint ticket</a></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Status:</td>
                        <td>{{ project.get_status_display }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row new-task">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
            <h4>Error!</h4>
            <p>An error was encountered while saving the form. Please try again shortly.</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>Task successfully entered!</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-solid box-warning">
            <div class="box-header">
                <h3 class="box-title">New Task</h3>
            </div>
            <div class="box-body">
                {% crispy taskform %}
            </div>
        </div>
    </div>
</div>
<div class="row tasks">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
            <h4>Errors</h4>
            <div class="errors"></div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>Task successfully edited! (Reload to see changes)</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <i class="fa fa-tasks"></i>
                <h3 class="box-title">Tasks</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-default btn-sm add-task-button"><i class="fa fa-plus"></i> Add task</button>
                </div>
            </div>
            <div class="box-body">
                {% include "pm/task.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
"use strict";

var taskFunc = function() {
    $(".new-task").show();
    $(".new-task .box").show();
    $(".new-task .alert-danger").hide();
    $(".new-task .alert-success").hide();
}

$(document).keydown(function(e) {
    // "n" or "N" opens new task window
    if(e.which == 78) {
        taskFunc();
    }

    // "esc" hides new task window
    if(e.which == 27) {
        $(".new-task").hide();
    }
});
$('.add-task-button').on('click', taskFunc);

//
// AJAX CONTENT
//

// ### SEE https://docs.djangoproject.com/en/dev/ref/csrf/ FOR DETAILS ON THE FOLLOWING ###
// The following code ensures that the CSRF token is properly inserted in the header of the AJAX request

var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

// ### END AJAX HEADER CONTENT

// new task
function process_submit (event) {
    event.preventDefault();

    $.ajax({
            url: "{% url 'pm:task-new' %}",
            type: "POST",
            dataType: "json",
            data: $('#create-task').serialize(),
            success: function(data) {
                if(!(data['success'])) {
                    $('#create-task').replaceWith(data['form_html']);
                    $('#create-task').on('submit', process_submit);  // need to bind the function to the new element
                    $('.datemask input')
                    // date masking
                        .inputmask('mm-dd-yyyy', {"placeholder": "mm-dd-yyyy"})
                    // add calendar icon
                        .wrap('<div class="input-group"></div>')
                        .before('<div class="input-group-addon"><i class="fa fa-calendar"></i></div>');

                } else {
                    $('.new-task .box').hide();
                    $('.new-task .alert-success').show();
                    $('#create-task').trigger('reset'); // remove the value from the input
                }
            },
            error: function(xhr,errmsg,err) {
                $('.new-task .alert-danger').show();
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
};

$('#create-task').on('submit', process_submit);

$('.datemask input, .datepicker input')
// date masking
    .inputmask('mm-dd-yyyy', {"placeholder": "mm-dd-yyyy"})
    .daterangepicker({
        singleDatePicker: true,
        showDropdowns: true
    });

// add calendar icon
$('.datemask input')
    .wrap('<div class="input-group"></div>')
    .before('<div class="input-group-addon"><i class="fa fa-calendar"></i></div>');

$('tr.task td.status').hover(function() {
    if( $(this).children('.controls').is(':hidden') ) {
        $(this).children('small').toggle();
        $(this).children('.edit').toggle();
    }
});

// remove extra padding around checkboxes
$('.new-task .checkbox').css({'padding-top': '0', 'padding-bottom': '7px'}).parents('div.form-group').css({'margin-bottom': '0'});

$('.details').hover(function() { $(this).find('button.edit-project').show(); },
                    function() { $(this).find('button.edit-project').hide(); });
$('button.edit-project').click(function() { window.open('{% url 'admin:pm_project_change' project.id %}', '_blank'); });

$('tr.task td.status .edit').click(function() {
    $(this).hide();
    $(this).siblings('.controls').show();
    $(this).parents('tr').children('td:not(.status)').children(':input, .input-help').show();
    $(this).parents('tr').children('td:not(.status)').children('.txt').hide();
});

$('tr.task td.status .controls button').click(function() {
    var controls = $(this).parents('.controls');
    var this_tr = $(this).parents('tr');
    var i = $(this).parents('.task').find(':input').serialize();

    if( $(this).hasClass('submit') ) {
        $.ajax({
                url: "{% url 'pm:task-edit' %}",
                type: "POST",
                dataType: "json",
                data: i,
                success: function(data) {
                    if(!(data['success'])) {
                        // show errors
                        $('.tasks .errors').empty();
                        $('.tasks .errors').html(data['failure']);
                        $('.tasks .alert-danger').show();
                    } else {
                        controls.hide();
                        controls.siblings('.edit').show();
                        this_tr.children('td:not(.status)').children(':input, .input-help').hide();
                        this_tr.children('td:not(.status)').children('.txt').show();

                        $('.tasks .alert-danger').empty();
                        $('.tasks .alert-danger').hide();
                        $('.tasks .alert-success').show();
                    }
                },
                error: function(xhr,errmsg,err) {
                    $('.new-task .alert-danger').show();
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
    } else {
    // Cancel pushed
        controls.hide();
        controls.siblings('.edit').show();
        this_tr.children('td:not(.status)').children(':input, .input-help').hide();
        this_tr.children('td:not(.status)').children('.txt').show();
    }
});

{% for task in project.task_set.all %}
$(".task-{{ task.pk }} select[name='worker']").val([{% for taskworker in task.taskworker_set.all %}{{ taskworker.worker.person.pk }}{% if not forloop.last %}, {% endif %}{% endfor %}]);{% endfor %}
{% for task in project.task_set.all %}
$(".task-{{ task.pk }} select[name='blocked_by']").val([{% for t in task.blocked_task.all %}{{ t.blocking_task.pk }}{% if not forloop.last %}, {% endif %}{% endfor %}]);{% endfor %}
{% endblock %}
